ComunicationApiXmlDto/xmlSchema/AccountOwnerCreationData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountOwnerCreationData" nillable="true" type="AccountOwnerCreationData" />
  <xs:complexType name="AccountOwnerCreationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>