ComunicationApiXmlDto/xmlSchema/BankAccountDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BankAccount" nillable="true" type="BankAccountDto" />
  <xs:complexType name="BankAccountDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Balance" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>