ComunicationApiXmlDto/xmlSchema/Credentials.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://banksystem.com/xml"
           xmlns="http://banksystem.com/xml">
  <xs:element name="Credentials" nillable="true" type="Credentials" />
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Login" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>